<?xml version="1.0" encoding="UTF-8"?>

<!-- EXAMPLE
<PLOT>
	<TITLE>
		KNN- title will be used to execute only particular ML methods from CLI, keep it simple.
	</TITLE>
	<SCRIPT_PATH>
		scripts/knn/knn.py- path to file with execute function. Function must return plot object.
	</SCRIPT_PATH>
	<PARAMETERS>
		Additional parameters, to pass to execute function. In this case execute will be called as execute(name="Tommy", grade="A")
		<name>
			Tommy
		</name>
		<grade>
			A
		</grade>
	</PARAMETERS>
</PLOT>

-->

<APP_CONFIG>
    <PLOT>
        <TITLE>
            KNN - K number vs accuracy
        </TITLE>
        <SCRIPT_PATH>
            plots/knn/knn.py
        </SCRIPT_PATH>
        <PARAMETERS>
            <x_label>
                K value
            </x_label>
            <y_label>
                Accuracy
            </y_label>
        </PARAMETERS>
    </PLOT>
	<PLOT>
		<TITLE>
			KNN - Percentage of train data vs accuracy
		</TITLE>
		<SCRIPT_PATH>
			plots/knn/knn_train_precentage.py
		</SCRIPT_PATH>
		<PARAMETERS>
            <x_label>
                Percentage of train samples
            </x_label>
            <y_label>
                Accuracy
            </y_label>
		</PARAMETERS>
	</PLOT>
    <PLOT>
        <TITLE>
            Naive bayes - datasets comparison
        </TITLE>
        <SCRIPT_PATH>
            plots/Bayes/naive_bayes.py
        </SCRIPT_PATH>
        <PARAMETERS>
            <x_label>
                Dataset and method
            </x_label>
            <y_label>
                Accuracy
            </y_label>
        </PARAMETERS>
    </PLOT>
    <METHOD>
        <NAME>
            NB_Gaussian
        </NAME>
        <PATH>
            lib/naive_bayes.py
        </PATH>
        <CLASS>
            NaiveBayesGaussian
        </CLASS>
    </METHOD>
    <METHOD>
        <NAME>
            SK_NB_Gaussian
        </NAME>
        <PATH>
            sklearn.naive_bayes
        </PATH>
        <CLASS>
            GaussianNB
        </CLASS>
    </METHOD>

    <METHOD>
        <NAME>
            NB_Multinomial
        </NAME>
        <PATH>
            lib/naive_bayes.py
        </PATH>
        <CLASS>
            NaiveBayesMultinomial
        </CLASS>
    </METHOD>
    <METHOD>
        <NAME>
            SK_NB_Multinomial
        </NAME>
        <PATH>
            sklearn.naive_bayes
        </PATH>
        <CLASS>
            MultinomialNB
        </CLASS>
        <KWARGS>
            <alpha>0.0001</alpha>
            <fit_prior>True</fit_prior>
        </KWARGS>
    </METHOD>
    <DATASET>
        <label>
            Iris
        </label>
        <path>
            sklearn.datasets
        </path>
        <name>
            load_iris
        </name>
    </DATASET>
    <DATASET>
        <label>
            Wines
        </label>
        <path>
            sklearn.datasets
        </path>
        <name>
            load_wine
        </name>
    </DATASET>
    <DATASET>
        <label>
            Cancer
        </label>
        <path>
            sklearn.datasets
        </path>
        <name>
            load_breast_cancer
        </name>
    </DATASET>
    <DATASET>
        <label>
            Digits
        </label>
        <path>
            sklearn.datasets
        </path>
        <name>
            load_digits
        </name>
    </DATASET>
</APP_CONFIG>

<!--
    <DATASET>
        <name>
            Wines
        </name>
        <path>
            data_sources/Wine.csv
        </path>
        <label_index>
            0
        </label_index>
        <dtype>
            float
        </dtype>
        <labels_numeric>
            True
        </labels_numeric>
    </DATASET>
    <DATASET>
        <name>
            Letters
        </name>
        <path>
            data_sources/letter-recognition.data
        </path>
        <label_index>
            0
        </label_index>
        <labels_numeric>
            False
        </labels_numeric>
    </DATASET>
    <DATASET>
        <name>
            Cancer
        </name>
        <path>
            data_sources/kag_risk_factors_cervical_cancer.csv
        </path>
        <label_index>
            28
        </label_index>
    </DATASET>
    <DATASET>
        <name>
            Iris
        </name>
        <path>
            load_iris
        </path>
        <type>
            sklearn
        </type>
    </DATASET>
<DATASET>
        <name>
            Trees
        </name>
        <path>
            data_sources/covtype.csv
        </path>
        <label_index>
            -1
        </label_index>
    </DATASET>-->